body{
    margin: 0;
    padding: 0;
    background-color: black;
}
header{
    height:50px;
    background-color:gray;
    text-align: center;
    margin-top: -20px;
}
img{
    padding-left: 300px;
    padding-top: 5px;
    height: 400px;
    width:400px;
}
#one
{
    display: flex;
    flex-direction: row;
    border: #ffffff 3px solid;
}
#first
{

    padding-left: 200px;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    font-size: 50px;
}
#tagline
{
    font-size: 20px;
}
main{
    color:#f5f5f5;
    scroll-behavior: smooth;
}

ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
  }

li{
    list-style-type: none;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-family: FreeMono, monospace;
}

li a{
    color: #f5f5f5;
    text-decoration: none;
    text-align: center;
}
h1{
    color: #f5f5f5;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 10px;
    cursor: pointer
  }
  h1 span{
    transition: .5s linear
  }
  h1:hover span:nth-child(1){
    margin-right: 5px
  }
  h1:hover span:nth-child(1):after{
    content: "'";
  }
  h1:hover span:nth-child(2){
    margin-left: 30px
  }
  h1:hover span{
    color: gray;
    text-shadow: 0 0 20px grey,
                 0 0 40px grey, 
                 0 0 45px grey;
  }
  #two
  {
    display: flex;
    flex-direction: column;
    border: #ffffff 3px solid;
  }
  #three
  {
      border: #ffffff 3px solid;
  }
  #fivehead
  {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #skilhead
  {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #skillli
  {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 20%;
    
  }
  #skillli p{
      margin-top: -20%;
  }
  #css,#js,#react
  {
    height:80px;
    width:100px;
  }
  #db
  {
      height:60px;
      width: 100px;
  }
  #abouthead
  {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  #aboutp
  {
      font-size: 25px;
      justify-content: space-around;
      text-indent: 5%;
      padding-left: 5%;
      padding-right: 5%;
      text-align: justify;

  }
  .pimg
  {
    padding-left: 40px;
    /* padding-top: 5px; */
    padding-bottom: 5px;
    height: 400px;
    
  }
  #five
  {
      display: flex;
      flex-direction: row;
  }
  #four
  {
    display: flex;
    flex-direction: column;
    border: #ffffff 3px solid;
  }
  footer {
	color: #f5f5f5;
	font-size: 15px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 5px;
	;
	border-bottom: 1px solid #F5F5F5;
	height: 290px;
	background-color: #674d3c;
}

#footerCopyright {
	text-align: center;
	font-size: 18px;
    color:#f5f5f5;
	padding-bottom: 20px;
	/* padding-top: 250px; */
}

#footerContents li {
	padding: 5px;
	padding-left: 0px;
	font-size: 18px;
	list-style: none;
	text-align: left;
}

#footerContents {
	display: flex;
	flex-direction: row;
	padding-top: 5px;
	justify-content: space-around;
	padding-right: 10px;
	padding-left: 0px;
}

footer a {
	text-decoration: none;
	color: #f5f5f5;
	font-size: 18px
}

footer h5 {
	color: #f5f5f5;
	font-size: 20px;
	margin: 0px;
	text-align: left;
	padding-left: 0px;
	padding-bottom: 5px;
}

footer button {
	color: #ffffff;
	text-align: left;
	background-color: #A71111;
	width: 167px;
	height: 30px;
	font-size: 25px;
	text-align: center;
	border: 0px;
}

::placeholder {
	color: #674d3c;
	font-size: 14px;
	padding: 5px;
}

#searchBox button {
	color: #ffffff;
	text-align: left;
	background-color: #A71111;
	width: 30px;
	border: 0px;
}

footer input[type="text"] {
	width: 248px;
	margin: 0px;
}

footer textarea {
	width: 250px;
	margin: 0px;
}

footer a:link {
	color: #f5f5f5;
}

/* footer a:visited {
	color:rg;
}

footer a:hover {
	color: grey;
} */

#divFooterForm form {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-left: 100px;
}
#ftrhead
{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#ftrli
{
    display: flex;
	flex-direction: column;
    color:#f5f5f5;
}
#divFooterForm {
	padding-top: 15px;
}

#divFooterForm form {
	display: flex;
	flex-direction: column;
}

#ftrSubmit {
	width: 100px;
	font-size: 18px;
}

@media (max-width: 768px) {
    header{
        height:100px;
        background-color:gray;
        text-align: center;
        margin-top: -20px;
    }
	body {
		width: 100%;
	}
	#one
    {
        display: block;
        justify-content: center;
        
    }
    #three
    {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    #db,#css,#js,#react
    {
        height:30px;
        width: 30px;
    }
    .pimg
    {
        /* display: flex;
        flex-direction: row; */
        height: 200px; 
         width: 150px;

    }
    img{
        width: 200px;
        height: 200px;
    }
	nav {
		display: flex;
		flex-direction: column;
		font-size: 28px;
	}
	nav a {
		padding-bottom: 10px;
		border-bottom: 1px solid #ffffff;
	}
	#searchBox input {
		padding-top: 5px;
		width: 100%;
		border-radius: 10px;
		border: 0px;
	}
	
	 ::placeholder {
		font-size: 16px;
		text-align: center;
	}
	.btnStyles {
		width: 100%;
	}
	main h1 {
		width: 80%;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	footer {
		font-size: 22px;
		height: auto;
		padding-left: 0px;
	}
	#footerCopyright {
		font-size: 14px;
	}
	#footerContents li {
		font-size: 18px;
	}
	#footerContents {
		flex-direction: column;
		padding-left: 0px;
	}
	footer a {
		font-size: 18px
	}
	footer h5 {
		font-size: 24px;
	}
	#divFooterForm {
		padding-left: 40px
	}
	footer input[type="text"] {
		width: 100%;
		height: 25px;
		;
	}
	footer textarea {
		width: 100%;
	}
	#ftrSubmit {
		width: 100%;
	}
}